* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#f4feff), color-stop(16%, #f4feff), color-stop(49%, #c4c4c4), color-stop(100%, #ccfaff), to(#00d4ff));
  background: linear-gradient(to bottom, #f4feff 0%, #f4feff 16%, #c4c4c4 49%, #ccfaff 100%, #00d4ff 100%);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1250px;
  min-height: 70vh;
  margin: 100px auto;
}

@media only screen and (max-width: 800px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

header #nameBox {
  background-color: #f4feff;
  border: 6px solid #2e2e2e;
  height: 250px;
  width: 400px;
  margin-right: 125px;
  position: relative;
  top: -70px;
}

@media only screen and (max-width: 850px) {
  header #nameBox {
    margin: auto;
    top: 0;
  }
}

@media only screen and (max-width: 414px) {
  header #nameBox {
    margin: auto;
    left: -10px;
  }
}

header #nameBox .topH1First {
  background-color: #f4feff;
  display: inline-block;
  font-weight: 700;
  left: -50px;
  margin-top: 20px;
  position: relative;
  padding: 10px;
  background-color: #f4feff;
}

@media only screen and (max-width: 600px) {
  header #nameBox .topH1First {
    left: -25px;
  }
}

@media only screen and (max-width: 414px) {
  header #nameBox .topH1First {
    left: -5px;
  }
}

header #nameBox .topH1First span {
  position: relative;
  left: -1500px;
  -webkit-animation: h1Slide 0.5s forwards ease-in-out;
          animation: h1Slide 0.5s forwards ease-in-out;
}

header #nameBox #topPChange {
  position: relative;
  color: #f4feff;
  font-weight: 700;
  font-size: 1.8em;
  width: 150px;
  top: -62px;
  right: -200px;
  margin-bottom: -60px;
}

@media only screen and (max-width: 600px) {
  header #nameBox #topPChange {
    right: -230px;
  }
}

@media only screen and (max-width: 400px) {
  header #nameBox #topPChange {
    right: -240px;
  }
}

@media only screen and (max-width: 375px) {
  header #nameBox #topPChange {
    right: -215px;
  }
}

@-webkit-keyframes orangeTopFade1 {
  15%, 85% {
    color: #ffa704;
  }
  100% {
    color: #f4feff;
  }
}

@keyframes orangeTopFade1 {
  15%, 85% {
    color: #ffa704;
  }
  100% {
    color: #f4feff;
  }
}

@-webkit-keyframes h1Slide {
  100% {
    left: 0;
  }
}

@keyframes h1Slide {
  100% {
    left: 0;
  }
}

header #nameBox .topBoxInfo {
  background-color: #f4feff;
  display: inline-block;
  font-size: 1.1em;
  position: relative;
  right: -70px;
  top: 20px;
  text-align: right;
  width: 100%;
  padding: 10px;
  color: #f4feff;
}

@media only screen and (max-width: 600px) {
  header #nameBox .topBoxInfo {
    right: 0px;
  }
}

@media only screen and (max-width: 375px) {
  header #nameBox .topBoxInfo {
    width: 80%;
  }
}

header #nameBox .topBoxInfo span {
  -webkit-animation: topPShow 0.7s forwards ease-in-out;
          animation: topPShow 0.7s forwards ease-in-out;
}

@-webkit-keyframes topPShow {
  100% {
    color: #2e2e2e;
  }
}

@keyframes topPShow {
  100% {
    color: #2e2e2e;
  }
}

header #topNav {
  border: 6px solid #2e2e2e;
  height: 250px;
  position: relative;
  top: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #f4feff;
  z-index: 5;
  -webkit-transition: width 1s, position 1s, height 0.2s ease-out;
  transition: width 1s, position 1s, height 0.2s ease-out;
}

@media only screen and (max-width: 800px) {
  header #topNav {
    top: -40px;
  }
}

header #topNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 25px 20px;
  -webkit-transition: flex-direction 1s, -webkit- 2009flex-direction 1s, -webkit-box-pack 1s;
  transition: flex-direction 1s, -webkit- 2009flex-direction 1s, -webkit-box-pack 1s;
  transition: flex-direction 1s, justify-content 1s;
  transition: flex-direction 1s, justify-content 1s, -webkit- 2009flex-direction 1s, -ms-flex-direction 1s, -webkit-box-pack 1s, -ms-flex-pack 1s;
}

header #topNav ul li {
  list-style-type: none;
  text-align: left;
  -webkit-transition: width 1s, text-align 1s;
  transition: width 1s, text-align 1s;
}

header #topNav ul li a {
  color: #2e2e2e;
}

header #topNav ul li a:hover {
  color: #ffa704;
  text-decoration: none;
  cursor: pointer;
}

header #topNav ul li a span {
  color: #ffa704;
}

main {
  width: 100%;
}

main #pointyContainerRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  max-width: 583px;
  height: 520px;
  overflow-x: hidden;
}

main #pointyContainerRight div {
  border: 6px solid #2e2e2e;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  left: 50%;
}

main #pointyContainerRight div:nth-child(1) {
  height: 250px;
  width: 250px;
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #pointyContainerRight div:nth-child(1) h1 {
  left: -35px;
  top: 90px;
  font-weight: bold;
  color: #ffa704;
  position: relative;
}

main #pointyContainerRight div:nth-child(2) {
  height: 60px;
  width: 60px;
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 0;
  position: relative;
  top: -22px;
  left: 45%;
}

main #pointyContainerRight div:nth-child(3) {
  height: 100px;
  width: 100px;
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 1;
  position: relative;
  top: -75px;
}

main #pointyContainerLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  max-width: 583px;
  height: 520px;
  overflow-x: hidden;
}

main #pointyContainerLeft div {
  border: 6px solid #2e2e2e;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  left: -50%;
  -webkit-transition: left 1s;
  transition: left 1s;
}

main #pointyContainerLeft div:nth-child(1) {
  height: 250px;
  width: 250px;
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: -120%;
}

main #pointyContainerLeft div:nth-child(1) h1 {
  font-weight: bold;
  color: #ffa704;
  position: relative;
  left: 90px;
  top: -20px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

main #pointyContainerLeft div:nth-child(2) {
  height: 60px;
  width: 60px;
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 0;
  position: relative;
  top: -22px;
  left: -80%;
}

main #pointyContainerLeft div:nth-child(3) {
  height: 100px;
  width: 100px;
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 1;
  position: relative;
  top: -75px;
  left: -95%;
}

main #about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #about #aboutBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #projects #projectBox {
  width: 60%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer {
  height: 1000px;
}
/*# sourceMappingURL=style.css.map */