@import './variables';
@import './mixins';

* {
  box-sizing: border-box;
  font-family: $sans-serif;
}

body {
  background-color: $body-background;
}

header {

  @include flexCenterBoth;
  height: 80vh;
  min-height: 600px;
  max-width: 1250px;
  margin: auto;
  
  div {
    background-color: body-background;
    border: 6px solid $big-border;
    height: 250px;
    width: 400px;
    margin-right: 125px;
    position: relative;
    top: -70px;

    .topH1First {
      @include top-box-text;
      font-weight: 700;
      left: -90px;
      margin-top: 20px;
      position: relative;
      padding: 10px;
      
      span {
        position: relative;
        left: -1500px;
        animation: h1Slide 0.5s forwards ease-in-out;
      }
    }

    #topPChange {
      position: relative;
      color: $body-background;
      font-weight: 700;
      font-size: 1.8em;
      width: 150px;
      top: -62px;
      right: -200px;
      margin-bottom: -60px;

      @keyframes orangeTopFade1 {
        15%, 85% {
          color: $border-highlight-color;
        } 100% {
          color: $body-background;

        }
      }

      @keyframes h1Slide {
        100% {
          left: 0;
        }
      }

    }

    .topBoxInfo {
      @include top-box-text;
      font-size: 1.1em;
      position: relative;
      right: -70px;
      top: 20px;
      text-align: right;
      width: 100%;
      padding: 10px;
      color: $body-background;

      span {
        animation: topPShow 0.7s forwards ease-in-out;
      }
    }
  
    @keyframes topPShow {
      100% {
        color: $main-font-color;
      }
    }
  }

  nav {
    border: 6px solid $big-border;
    height: 250px;
    position: relative;
    top: 13px;

    ul {
      @include flexCenterBoth;
      height: 100%;
      flex-direction: column;
      justify-content: space-around;
      padding: 25px 20px;

      li {
        list-style-type: none;
        text-align: left;
        width: 100%;

        a {
          color: $main-font-color;
        
          &:hover {
            color: $border-highlight-color;
            text-decoration: none;
          }

          span {
            color: $border-highlight-color;
          }
        }
      }
    }
  }

}
