@import './variables';
@import './mixins';

* {
  box-sizing: border-box;
  font-family: $sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: $body-gradient;
}

header {

  @include flexCenterBoth;
  max-width: 1250px;
  min-height: 70vh;
  margin: 100px auto;

  @media only screen and (max-width: 800px) {
    flex-direction: column;
  }
  
  #nameBox {
    background-color: $body-background;
    @include big-border;
    height: 250px;
    width: 400px;
    margin-right: 125px;
    position: relative;
    top: -70px;

    @media only screen and (max-width: 850px) {
      margin: auto;
      top: 0;
    }

    @media only screen and (max-width: 414px) {
      margin: auto;
      left: -10px;
    }

    .topH1First {
      @include top-box-text;
      font-weight: 700;
      left: -50px;
      margin-top: 20px;
      position: relative;
      padding: 10px;
      background-color: $body-background;

      @media only screen and (max-width: 600px) {
        left: -25px;
      }

      @media only screen and (max-width: 414px) {
        left: -5px;
      }

      
      span {
        position: relative;
        left: -1500px;
        animation: h1Slide 0.5s forwards ease-in-out;
      }

    }

    #topPChange {
      position: relative;
      color: $body-background;
      font-weight: 700;
      font-size: 1.8em;
      width: 150px;
      top: -62px;
      right: -200px;
      margin-bottom: -60px;

      @media only screen and (max-width: 600px) {
        right: -230px;
      }

      @media only screen and (max-width: 400px) {
        right: -240px;
      }

      @media only screen and (max-width: 375px) {
        right: -215px;
      }

      @keyframes orangeTopFade1 {
        15%, 85% {
          color: $border-highlight-color;
        } 100% {
          color: $body-background;

        }
      }

      @keyframes h1Slide {
        100% {
          left: 0;
        }
      }

    }

    .topBoxInfo {
      @include top-box-text;
      font-size: 1.1em;
      position: relative;
      right: -70px;
      top: 20px;
      text-align: right;
      width: 100%;
      padding: 10px;
      color: $body-background;

      @media only screen and (max-width: 600px) {
        right: 0px;
      }

      @media only screen and (max-width: 375px) {
        width: 80%;
      }

      span {
        animation: topPShow 0.7s forwards ease-in-out;
      }
    }
  
    @keyframes topPShow {
      100% {
        color: $main-font-color;
      }
    }
  }

  #topNav {
    @include big-border;
    height: 250px;
    position: relative;
    top: 13px;
    display: flex;
    justify-content: flex-end;
    background-color: $body-background;
    z-index: 5;


    transition: width 1s, position 1s, height 0.2s ease-out;

    @media only screen and (max-width: 800px) {
      top: -40px;
    }

    ul {
      @include flexCenterBoth;
      height: 100%;
      flex-direction: column;
      justify-content: space-around;
      padding: 25px 20px;

      transition: flex-direction 1s, justify-content 1s;

      li {
        list-style-type: none;
        text-align: left;

        transition: width 1s, text-align 1s;

        a {
          color: $main-font-color;
        
          &:hover {
            color: $border-highlight-color;
            text-decoration: none;
            cursor: pointer;
          }

          span {
            color: $border-highlight-color;
          }
        }
      }
    }
  }

}

main {
  width: 100%;

  #pointyContainerRight {
    @include flexCenterBoth;
    @include pointyContainer;

    div {
      @include big-border;
      display: inline-flex;
      position: relative;
      left: 50%;

      &:nth-child(1) {
        @include pointyNthOne;
        @include flexCenterBoth;

        h1 {
          left: -35px;
          top: 90px;
          @include nthOneH1;
        }
      }

      &:nth-child(2) {
        height: 60px;
        width: 60px;
        background-color: white;
        transform: rotate(45deg);
        z-index: 0;
        position: relative;
        top: -22px;
        left: 45%;
      }

      &:nth-child(3) {
        @include pointyNthThree;
      }
    }
  }

  #pointyContainerLeft {
    @include flexCenterBoth;
    @include pointyContainer;
    
    div {
      @include big-border;
      display: inline-flex;
      position: relative;
      left: -50%;

      transition: left 1s;

      &:nth-child(1) {
        @include pointyNthOne;
        @include flexCenterBoth;
        left: -120%;
        
        h1 {
          @include nthOneH1;
          left: 90px;
          top: -20px;
          transform: rotate(-90deg);
        }
      }

      &:nth-child(2) {
        @include pointyNthTwo;
        top: -22px;
        left: -80%;
      }

      &:nth-child(3) {
        @include pointyNthThree;
        left: -95%;
      }
    }
  }

  #about {
    @include flexCenterBoth;
    @include sectionHolder;

    #aboutBox {
      @include flexCenterBoth;
      @include sectionBox
    }
  }

  #projects {
    @include flexCenterBoth;
    @include sectionHolder;

    #projectBox {
      @include sectionBox
    }
  }

}

footer {
  height: 1000px;
}
